
frontend/dist/

# Archivos que no se subiran al repositorio
frontend/node_modules/

frontend/.angular/

/dist
/tmp
/out-tsc


/node_modules

/.angular
/.cache
/.angular-build


/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project


.vscode/*


.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.local
.env.*.local


*.log
*.csv
*.dat
*.out
*.pid
*.pid.lock
*.seed
*.sqlite
*.sqlite3

coverage

.PS1
.PS2
.PS3
.PS4
